[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/External/gliml"]
	path = Engine/External/gliml
	url = https://github.com/floooh/gliml.git
[submodule "Engine/External/lua-intf"]
	path = Engine/External/lua-intf
	url = https://github.com/leafnsand/lua-intf.git
[submodule "Engine/External/nanovg"]
	path = Engine/External/nanovg
	url = https://github.com/memononen/nanovg.git
